[run]
source = .
concurrency = multiprocessing
parallel = true
omit = 
    .venv/*
    .pytest_cache/*
    __pycache__/*
    htmlcov/*
    multi_client_test.py
    test_client.py

[report]
skip_covered = false
show_missing = true

[html]
directory = htmlcov
