# excercise resources
dracula.txt
frankenstein.txt

# .txt used for testing
test.txt
shakespeare.txt

# .py used for testing
run_test.py
multi_client_test.py
# cache and env folders
__pycache__/
.venv/

# log files
logs/*.log